h1 {
    font-family: var(--text-h1);
    font-weight: var(--text-h1);
    font-size: var(--text-h1);
    line-height: var(--leading-tight);
    letter-spacing:
}

p {
    font-size: var(--text-base);
    font-style: var(--font-body);
}

